/node_modules
/web/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/web/src/.umi
/web/src/.umi-production
/web/src/.umi-test
/web/dist
/dist
/web/build
/.mfsu
/package-lock.json
.DS_Store